@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

*
{
    margin: 0px;
    padding: 0px;
}  
#s1 #s2
    {
        height: 500px;
    }
header
{
    background-color: black;
    /* display:flex;
    justify-content: center;
    align-items: center; */
    padding: 35px;
}
header>h1,p,a
{
    color: white;
    text-decoration: none; 
    text-align: center;
}
header>h1
{
    font-size: 3em;
}
a
{
    font-weight: bold;
}
a:hover
{
    transition: 0.5s;
    font-size: 1.1em;
    text-decoration: underline;
}
body
{
    background-color: rgb(24, 24, 24);
    min-width: 492px;
}
main
{
    max-width: 1000px;
    margin: 0px auto;
    background-color: bisque;
}
main p
{
    font-family: Marcellus, serif;
    color: black;
    text-align: justify;
    padding: 45px 45px;
    line-height: 50px;
    font-size: 2em;
}

#s1
{
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    padding: 40px 0px;
}

#s2
{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    padding: 40px 0px;
}

#s1>p, #s2>p
{
    background-color: rgba(0, 0, 0, 0.500);
    max-width: 500px;
    max-height: 450px;
    color: white;
    margin: 50px 0px;
    font-size: 2em;
    line-height: 50px;
    padding: 25px 45px;
}

footer
{
    text-align: center;
    color: rgb(50, 50, 50);
    margin-top: 0px;
    border-top: 1px solid rgb(26, 26, 26);
}
